#!/usr/bin/env ruby
#
# Relavent docs: 
#   http://docs.aws.amazon.com/sdkforruby/api/
#   https://aws.amazon.com/premiumsupport/knowledge-center/data-integrity-s3/

require 'securerandom'
require 'digest/sha2' 
require 'facets'
require 'aws-sdk'
# http://docs.aws.amazon.com/sdkforruby/api/

# Define "say" so that it's easy to add logging, if desired.
def say(string)
  puts string
end

# Set region
Aws.config.update({
    region: 'us-east-1',
})

# Set bucket name.
bucket_name = '{{s3_bucket | quote}}'

# For testing
#s3 = Aws::S3::Client.new

# BEGIN Exception classes
class Error < RuntimeError
end

class VerifyError < Error
end
# END 

# Handles interaction with Amazon S3.
class BucketWrapper
  # XXX Check that write_space is a good directory, which I can write to and which can hold the files I'm working with.
  @@write_space = '/tmp/ruby-uploadFiles/BucketWrapper/'

  # Allow reading of @dir.
  attr_reader :dir

  def initialize(name)
    @name = name
    # Connect to S3
    begin
      @s3 = Aws::S3::Client.new
    rescue Aws::S3::Errors::ServiceError => e
      say "Fatal: Unable to connect to S3 when trying to connect to bucket: #{e}"
      raise
    end
    
    # Ensure that the bucket exists.
    if not @s3.list_buckets.buckets.map(&:name).include? name
      # Note: This machine no longer has create_bucket rights.
      # Bucket should be created by Ansible.
      begin
        say "Could not locate bucket #{name} in region #{Aws.config[:region]}. Creating bucket."
        @s3.create_bucket({
          acl: "private",
          bucket: name,
        })
      rescue Aws::S3::Errors::ServiceError => e
        say "Fatal: Unable to create missing bucket: #{e}"
        raise
      end
    end

    # Create temp dir.
    begin
      @tmp = File.join([ @@write_space, SecureRandom.hex(16) ])
      # System call. Avoids dependancy on FileUtils for mkdir_p.
      # XXX Ideally, write_space is already there, persists.
      system('mkdir', '-p', @@write_space)
      Dir.mkdir(@tmp, 0700)
    rescue SystemCallError => e
      say "Fatal: Unable to create temporary directory at #{@tmp}: #{e}"
      raise
    end

    # Clean up ... will remove the temp directory.
    ObjectSpace.define_finalizer(self) { 
      begin
        Dir.rmdir(@tmp) 
      rescue SystemCallError => e
        say "Temporary directory #{@tmp} was not empty: #{e}"
        raise
      end
    }
  end

  def put(fname)
    # Put a file into the bucket.
    # @param fname [String] File name.
    # @return [String] Key.

    # Make key.
    begin
      time= File.mtime(fname)
      # File.sanitize requires facets.
      # https://robots.thoughtbot.com/fight-back-utf-8-invalid-byte-sequences
      filename_frag = File.basename(fname).encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '_')
      filename_frag = File.sanitize(filename_frag)
      # key is file mtime plus a random hex string.
      # XXX in key for aws, consider replacing random hex string with hash
      key = time.strftime('%F-%H-%M-%S-%z-') + filename_frag + '-' + SecureRandom.hex(16)
    rescue Aws::S3::Errors::ServiceError => e
      say "S3 error generating nonce for file #{fname} which would be uploaded to bucket #{@name}: #{e}"
      key = SecureRandom.hex(15)
      raise
    rescue IOError => e
      say "IOError generating nonce for file #{fname} which would be uploaded to bucket #{@name}: #{e}"
      key = SecureRandom.hex(15)
      raise
    end

    # Put file.
    begin
      # Assumption: File is less than 5gb.
      #  http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Client.html#put_object-instance_method
      File.open(fname, 'rb') do |file|
        @s3.put_object(bucket: @name, key: key, body: file)
      end
    rescue Aws::S3::Errors::ServiceError => e
      say "S3 error uploading file #{fname} to bucket #{@name}, key #{key}: #{e}"
      raise
    rescue IOError => e
      say "IOError reading file #{fname} to upload to bucket #{@name}, key #{key}: #{e}"
      raise
    end

    return key
  end

  def get(key)
    # Get a file, write it to @tmp, return filename. 
    # @param key [String] key for amazon s3 bucket
    # @param [block argument] optional block to use file 
    # @return file_name [String] if no block argument is given.
    #         result [boolean] if block argument given.
    # If used with a block argument, also deletes the file. 

    # Select target filename.
    file_name = File.join([@tmp, SecureRandom.hex(32)])

    # Download file.
    begin 
      @s3.get_object(
        response_target: file_name,
        bucket: @name,
        key: key,
      )
    rescue Aws::S3::Errors::NoSuchKey => e
      say "Unable to get file with key #{key}: #{e}"
      raise
    rescue Aws::S3::Errors::ServiceError => e
      say "S3 error downloading file #{file_name} from bucket #{@name}, key #{key}: #{e}"
      raise 
    rescue IOError => e
      say "IOError writing file #{file_name} when downloading from bucket #{@name}, key #{key}: #{e}"
      raise
    end

    # Allow use of the file.
    if block_given?
      begin
        # Runs block given a block argument.
        result = yield(file_name)
      ensure 
        # Delete file, if using block argument.
        File.unlink(file_name)
      end
    end

    return result
  end
  
  def verify(key, known_digest)
    # Verify that a file was uploaded.
    # @param key [String] The key for the file in S3.
    # @param known_digest [String] The file's original digest (base64 encoded sha512).
    # @return [boolean] Whether the file is correct.
    # Assumption: No other files have the prefix of key.

    begin
      # With downloaded file.
      get(key) do |downloaded_file_name| 
        # The digest of the file downloaded form s3
        s3_digest = LocalFiles.digest(downloaded_file_name)
        
        # Compare digests.
        verify_good = ( known_digest == s3_digest )
  
        unless verify_good
          raise VerifyError.new "Digest verification failed for key #{key}: known_digest=#{known_digest}, s3_digest=#{s3_digest}."
        end
  
        # Return result.
        return verify_good
      end 
    rescue Aws::S3::Errors::NoSuchKey => e
      raise VerifyError.new "Verification for key #{key} failed: Unable to access the file that was just uploaded. NoSuchKey error: #{e}"
    end
  end   
end

# Handles interaction with file system.
class LocalFiles
  # @@ready_suffix: Suffix used to find processed files. 
  @@ready_suffix = '.processed'
  # @@period:       How long to wait to archive a file. 
  #                 Here, 5 days.
  @@period       = 5*60*60*24

  def self.digest(file_name)
    # Get the digest of a file at file_name.
    # @param file_name [String]
    # @return digest
    
    raise ArgumentError.new "Digest: Please give the filename of a regular file." unless File.file? file_name

    return Digest::SHA512.new.file(file_name).base64digest
  end


  def initialize(directory) 
    # Check input.
    raise ArgumentError.new("LocalFiles: Please specify a valid file path.") unless File.directory?(directory)
    
    # Ensure directory path has a trailing slash.
    @dir = File.join([directory, ''])
  end

  def poll
    # Returns a list of files which are .processed and older than 5 days.
    
    # XXX error handling for listing files and mtimes? 

    # List processed files.
    # Uses shell-like globbing: 
    # Note: Does not match dotfiles, apparently.
    files = Dir.glob(@dir + '*' + @@ready_suffix)

    # Define 'five days ago.'
    five_days_ago = Time.now - @@period
    
    # Select matching files for only those modified at least 5 days ago.
    files = files.select { |filename| File.mtime(filename) < five_days_ago } 

    return files
  end

  def archive_to(bucket_wrapper)
    # Archive old, processed files (from .poll) with given BucketWrapper.
    raise ArgumentError.new("Please pass a BucketWrapper object to archive_to.") unless bucket_wrapper.is_a? BucketWrapper

    # For each file.
    self.poll.each do |file_name|
      say "Uploading file #{file_name}: "

      ## Hash file.
      digest = LocalFiles.digest file_name
      say "  digest: #{digest}"

      ## Upload file.
      key = bucket_wrapper.put file_name
      say "  put to key: #{key}"

      ## Verify upload.
      # Will return false or emit VerifyError.
      verified = bucket_wrapper.verify(key, digest)
      say "  verified: #{verified}"
      
      # Delete local file.
      if verified
        File.unlink(file_name)
        say "  file deleted."
      end
    end
  end

end

bucket = BucketWrapper.new(bucket_name)

files  = LocalFiles   .new('{{watchDir | quote}}')
#puts "Files to upload: " + files.poll.inspect 

files.archive_to bucket


